.menu-bar {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: hidden;
  box-shadow: 0 0 30px #f3f1f1;
}

.logo {
  width: 150px;
  float: left;
  display: block;
  padding: 19px 20px;
}

.menu-group {
  width: calc(100% - 150px);
  float: right;
}

.menu-group .ant-menu-item {
  padding: 0px 5px;
}

.menu-group .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu-group .ant-menu-item a,
.menu-group .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu-group .ant-menu-horizontal {
  border-bottom: none;
}

.menu-group .left-menu {
  float: left;
}

.menu-group .right-menu {
  float: right;
}

.bars-menu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: none;
  background: none;
}

.bars-button {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}

.bars-button:after,
.bars-button:before {
  content: attr(x);
  width: 20px;
  height: 2px;
  position: absolute;
  top: -6px;
  left: 0;
  background: #1890ff;
}

.bars-button:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

@media (max-width: 767px) {
  .bars-menu {
    display: inline-block;
  }

  .left-menu,
  .right-menu {
    display: none;
  }

  .logo a {
    margin-left: -20px;
  }

  .menu-group .ant-menu-item,
  .menu-group .ant-menu-submenu-title {
    padding: 1px 20px;
  }
}
